<!DOCTYPE html>

    <head>
    </head>
    <body>
        <h1>hola</h1>

        <ul>
        	<!--ocupamos motor de django para los temnplates-->
        	{% for pr in product %}
            <!-- traemos el nombre del product que esta en views.py de la aplicacion product. Para mostrar datos siempre se ocupan las 2 llaves-->
        		<li>
        			{{ pr.name }}
        			{{ pr.description }}
                    {{ pr.price }}
        		</li>

        	{% endfor %}
        </ul>
        
    </body>
</html>